.chart-bounding-box {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.btn-group0 {
  background: #1f77b4;
  opacity: 0.7;
}
.btn-group1 {
  background: #ff7f0e;
  opacity: 0.7;
}
.btn-group2 {
  background: #2ca02c;
  opacity: 0.7;
}
.btn-group3 {
  background: #d62728;
  opacity: 0.7;
}
.btn-group4 {
  background: #9467bd;
  opacity: 0.7;
}
.btn-group5 {
  background: #8c564b;
  opacity: 0.7;
}
.highlightedPositive {
  background: yellow;
}
.highlightedNegative {
  background: orange;
}
.btn-space {
  margin-right: 5px;
  margin-bottom: 5px;
}
.help-two-column {
  width: 150px;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.overview {
  width: 100%;
  /* height: 100%; */
}
.axis text {
  font: 10px sans-serif;
}
.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}
.brush .resize path {
  fill: #eee;
  stroke: #666;
}
.brushTempo rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}
.brushTempo .resize path {
  fill: #eee;
  stroke: #666;
}
.background.bar {
  fill: #ccc;
}
.foreground.bar {
  fill: steelblue;
}
.commentHeader {
  display: inline;
  color: gray;
  position: relative;
  margin-right: 50px;
  font-size: 12px;
  float: right;
}
.axisnote {
  fill: gray;
}
.brushMap .extent {
  stroke: #f09f8c;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.brush .extent {
  stroke: #f09f8c;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}
.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.criteriaBar {
  /*display: inline;*/
  width: 100%;
}
.criteriaBarConfig {
  position: absolute;
  top: 50%;
  right: 0px;
  height: 100px;
  margin-top: -15px;
  display: inline;
}
.criteriaBarContainer {
  position: relative;
}
.overviewButton {
  margin-bottom: 20px;
}
ul[rn-carousel] > li {
  pointer-events: none;
}
ul[rn-carousel] {
  width: 100%;
  height: 500px;
}
.chart-carousel {
  background-size: cover;
  position: relative;
}
.chart-carousel div {
  width: 100%;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  /*position:absolute;*/
  /*box-sizing: border-box;*/
}
.commentMapMark.selected {
  fill-opacity: 1;
  stroke-opacity: 1;
}
.commentMapMark.notSelected {
  fill-opacity: 0.2;
  stroke-opacity: 0.2;
}
.commentMapMark.Accepted {
  fill: steelblue;
  stroke: steelblue;
}
.commentMapMark.Rejected {
  fill: white;
  stroke: lightgray;
}
.commentMapMark.Picked {
  fill: red;
  stroke: red;
  stroke-width: 3;
}
.commentMapMark.New {
  fill: gray;
  stroke: gray;
}
.commentMapMark {
  /*fill-opacity: 1;*/
  /*stroke: gray;*/
  stroke-width: 1;
}
.gathermap {
  width: 100%;
  /* height: 100%; */
}
.state {
  fill: none;
  stroke: #333;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.commentList {
  max-height: 1000px;
  overflow: auto;
}
.commentList > dl > dd {
  border: 0px solid;
  /*background-color: #f5f5f5;*/
}
.article {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

/*.dot.selected {
    stroke: red;
    stroke-width: 3;
}*/

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}
rect.hidden {
  fill: #ccc !important;
}

/* NAV BAR */

.nav-pic {
  margin: -2px 5px 0 0;
  max-height: 20px;
  border-radius: 100px;
}

/* MAIN POSTS PAGE */

.post {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.info {
  font-weight: bolder;
  font-size: 16px;
}
.info .url {
  font-weight: normal;
  color: #999;
  font-size: 13px;
  margin-left: 5px;
}

/* PROFILE PAGE */

.prof-img {
  width: 100%;
  max-width: 100px;
  border-radius: 100px;
}
.name {
  font-weight: bolder;
  font-size: 1.5em;
}
.nav-tabs {
  margin-top: 30px;
}
.vote {
  height: 20px;
  cursor: pointer;
}
.auth-forms {
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  padding: 1px 25px 25px 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.cmt-form {
  margin-top: 30px;
}
.cmt {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.cmt .author {
  font-size: 11px;
  color: #bbb;
}
.overlay {
  fill: none;
  pointer-events: all;
}
.lens {
  fill: white;
  stroke: gray;
  stroke-width: 2px;
}
.matrixFrame {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
}

/*.matrixFrame:hover {
   fill: none;
  stroke: red;
  stroke-width: 3px;
  shape-rendering: crispEdges;

}*/

div .matrixRow {
  display: inline-block;
  /*padding:px;*/
}
div.matrixGroup {
  width: 100%;
  margin: 0 auto;
}
div .GPLOM {
  /*  width:100px;
  height:100px;*/
  display: inline-block;
  cursor: pointer;
  /*border: 1px;*/
  /*stroke:black;*/
}
div .GPLOM:hover {
  background-color: gray;
  stroke: red;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}
div .GPLOMBrush {
  /*  width:100px;
  height:100px;*/
  display: inline-block;
  cursor: pointer;
  /*border: 1px;*/
  /*stroke:black;*/
}
div.clusterControlBox {
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.clusterControlBracket {
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelgreen;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.clusterControlButton:hover {
  background: white;
}
.controlButtonBracket {
  position: absolute;
  width: 200px;
  height: 28px;
}
.chart-instruction {
  display: inline-block;
}
.tryMe {
  display: inline-block;
  width: 250px;
  border-style: solid;
  border-color: #ff0000;
  padding: 10px;
}
.panel-default > .panel-heading {
  background-color: #FFF;
}
.jumbotron {
  padding: 0px;
}

/*.well {
  background-color: #FFF;
  border: none;
}
*/

.jumbotron {
  background-color: #FFF;
}
body {
  /*background: #F3F3F3;*/
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/*.animate-show {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}*/

.nomarect {
  /*
  border-style:solid;
border-color: #0000ff;*/
}
.hero-unit {
  padding: 0px;
  padding-top: 10px;
  background-color: #FFFFFF;
}
.chart-title {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
}
.chart-simple-interface {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
svg {
  max-width: 100%;
  height: 100%;
}
.axislabel {
  font: 16px sans-serif;
}

/*.axis path,
.axis line {
 fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}*/


/*.dot {
    stroke-width: 1;
}*/

.collapse-text-toggle {
  font-size: 0.9em;
  color: #666666;
  cursor: pointer;
}
.collapse-text-toggle:hover {
  color: #222222;
}
.collapse-text-toggle:before {
  content: '\00a0(';
}
.collapse-text-toggle:after {
  content: ')';
}

/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 1920px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.breadcrumb {
  padding: 0px 0px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
    border: 0px;
    border-style: solid;
    border-color: lightgrey;
    height: auto;
    min-height: 100px;
    /*height: 800px;*/
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}
.button-new {
  padding: 5px 5px;
  background: lightgrey;
  color: #000000;
  border-radius: 4px;
  border: solid 1px darkgray;
}
.button-new:hover {
  background: darkgray;
  border: solid 1px darkgray;
  text-decoration: none;
}
.button-new:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: darkgrey;
  border: solid 1px darkgray;
}
.commentHeader {
  display: inline;
  color: gray;
  position: relative;
  margin-right: 50px;
  font-size: 12px;
  float: right;
}
tags-input {
  box-shadow: none;
  border: none;
  padding: 0;
  min-height: 34px;
}
tags-input .host {
  margin: 0;
}
tags-input .tags {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
tags-input .tags .tag-item {
  color: #fff;
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
}
tags-input .tags .tag-item.selected {
  color: #fff;
  background: #d9534f;
  border: 1px solid #d43f3a;
}
tags-input .tags .tag-item .remove-button:hover {
  text-decoration: none;
}
tags-input .tags.focused {
  border: 1px solid #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
tags-input .autocomplete {
  border-radius: 4px;
}
tags-input .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #f5f5f5;
}
tags-input .autocomplete .suggestion-item.selected em {
  color: #262626;
  background-color: #f5f5f5;
}
tags-input .autocomplete .suggestion-item em {
  color: #000;
  background-color: #fff;
}
tags-input.ng-invalid .tags {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
tags-input[disabled] .tags {
  background-color: #eee;
}
tags-input[disabled] .tags .tag-item {
  background: #337ab7;
  opacity: 0.65;
}
tags-input[disabled] .tags .input {
  background-color: #eee;
}
.input-group tags-input {
  padding: 0;
  display: table-cell;
}
.input-group tags-input:not(:first-child) .tags {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group tags-input:not(:last-child) .tags {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-lg tags-input:first-child .tags {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.input-group-lg tags-input:last-child .tags {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.input-group-sm tags-input:first-child .tags {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.input-group-sm tags-input:last-child .tags {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
tags-input.ti-input-lg, .input-group-lg tags-input {
  min-height: 46px;
}
tags-input.ti-input-lg .tags, .input-group-lg tags-input .tags {
  border-radius: 6px;
}
tags-input.ti-input-lg .tags .tag-item, .input-group-lg tags-input .tags .tag-item {
  height: 38px;
  line-height: 37px;
  font-size: 18px;
  border-radius: 6px;
}
tags-input.ti-input-lg .tags .tag-item .remove-button, .input-group-lg tags-input .tags .tag-item .remove-button {
  font-size: 20px;
}
tags-input.ti-input-lg .tags .input, .input-group-lg tags-input .tags .input {
  height: 38px;
  font-size: 18px;
}
tags-input.ti-input-sm, .input-group-sm tags-input {
  min-height: 30px;
}
tags-input.ti-input-sm .tags, .input-group-sm tags-input .tags {
  border-radius: 3px;
}
tags-input.ti-input-sm .tags .tag-item, .input-group-sm tags-input .tags .tag-item {
  height: 22px;
  line-height: 21px;
  font-size: 12px;
  border-radius: 3px;
}
tags-input.ti-input-sm .tags .tag-item .remove-button, .input-group-sm tags-input .tags .tag-item .remove-button {
  font-size: 16px;
}
tags-input.ti-input-sm .tags .input, .input-group-sm tags-input .tags .input {
  height: 22px;
  font-size: 12px;
}
.has-feedback tags-input .tags {
  padding-right: 30px;
}
.has-success tags-input .tags {
  border-color: #3c763d;
}
.has-success tags-input .tags.focused {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-error tags-input .tags {
  border-color: #a94442;
}
.has-error tags-input .tags.focused {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-warning tags-input .tags {
  border-color: #8a6d3b;
}
.has-warning tags-input .tags.focused {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.positive-tags .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.positive-tags .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.positive-tags .tags .tag-item {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}
.positive-tags .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}
.positive-tags .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}
.positive-tags .autocomplete {
  border-radius: 4px;
}
.positive-tags .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #e9e9e9;
}
.positive-tags .autocomplete .suggestion-item em {
  font-weight: normal;
  background-color: #ffff00;
}
.positive-tags .autocomplete .suggestion-item.selected em {
  color: #262626;
  background-color: #ffff00;
}
.negative-tags .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.negative-tags .tags.focused {
  border-color: #DE5921;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.negative-tags .tags .tag-item {
  background: #CE5921;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}
.negative-tags .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}
.negative-tags .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}
.negative-tags .autocomplete {
  border-radius: 4px;
}
.negative-tags .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #e9e9e9;
}
.negative-tags .autocomplete .suggestion-item em {
  font-weight: normal;
  background-color: #ffff00;
}
.negative-tags .autocomplete .suggestion-item.selected em {
  color: #262626;
  background-color: #ffff00;
}
