<div class="container">
    <h2>Comments of NY Times Articles</h2>
    <h2><small>Analyze comments for NY Times Articles using custom concepts</small></h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="search">Search:</label>
                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                        </div>
                        <div class="col-xs-4">
                            <label for="search">items per page:</label>
                            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                        </div>
                    </div>
                    <br>
                    <div class="panel panel-default" cg-busy="loadingPromise">
                        <div class="panel-body">
                            <uib-accordion close-others="true">
                                <uib-accordion-group is-open="article.open" dir-paginate="article in articles | filter:q | itemsPerPage: pageSize" current-page="currentPage" pagination-id="drinksPagination">
                                    <uib-accordion-heading>
                                        {{article.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': article.open, 'glyphicon-chevron-right': !article.open}"></i>
                                    </uib-accordion-heading>
                                    <dl class="dl-horizontal">
                                        <dt>Section</dt>
                                        <dd>{{article.section}}</dd>
                                        <dt>Type</dt>
                                        <dd>{{article.type}}</dd>
                                        <dt>Publish Date</dt>
                                        <dd> {{article.published_date}} </dd>
                                    </dl>
                                    <a class="btn btn-default btn pull-right" href="#/articles/{{article.id}}"> Analyze comments of this article </a>
                                </uib-accordion-group>
                            </uib-accordion>
                            
                            <!--                             <dl>
                                <dt dir-paginate-start="article in articles | filter:q | itemsPerPage: pageSize" current-page="currentPage" pagination-id="drinksPagination">
                                    <h4> <a href="#/articles/{{article.id}}"> {{article.title}} </a><small class="commentHeader">      ,                              </small> </h4>
                                </dt>
                                <dd dir-paginate-end>
                                    <dl class="dl-horizontal">
                                        <dt>Section</dt>
                                        <dd>{{article.section}}</dd>
                                        <dt>Type</dt>
                                        <dd>{{article.type}}</dd>
                                        <dt>Publish Date</dt>
                                        <dd> {{article.published_date}} </dd>
                                    </dl>
                                    <div>
                                        <hr>
                                    </div>
                                </dd>
                            </dl> -->
                        </div>
                    </div>
                    <div class="text-center">
                        <!-- <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html" pagination-id="drinksPagination"></dir-pagination-controls> -->
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="drinksPagination"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
