<ol class="breadcrumb">
    <li><a href="#">Home</a>
    </li>
    <li><a href="#/articles">Articles</a>
    </li>
    <li class="active">CommentIQ</li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h3> 
          {{article.title}} <small><a href="{{article.url}}" target="blank"><i class="fa fa-external-link"></i></a></small>
          </h3>
            <p>{{article.abstract}}"</p>
            <p>{{article.published_date}}</p>
            <p>{{article.adx_keywords}}
                <p>{{article.byline}}
                    <p>{{article.section}}, {{article.type}}</p>
                    <p> </p>
                    <br> Select your overview visualization
                    <br>

                    <select class="btn btn-default dropdown-toggle" ng-model="concept" ng-options="f.name for f in criterias" ngChange="getScores(f)"></select>



                    <div class="overviewButton btn-group">
                        <label class="btn btn-default" ng-model="overview" uib-btn-radio='"gatherplot"'> CommentPlot </label>
                        <label class="btn btn-default" ng-model="overview" uib-btn-radio='"map"'> Map </label>
                        <label class="btn btn-default" ng-model="overview" uib-btn-radio='"temporal"'> Temporal </label>
                        <!-- <label class="btn btn-primary" ng-model="baseModel" btn-radio='"Thread"'> Thread </label> -->
                    </div>
                    <br>
                    <div ng-show="overview=='temporal'">
                        <div tempo-line class="overview" data="nomaData" dim="tempoDim"></div>
                       <!--  <div class="chart-simple-interface">
                            <h5>{{tempoDimExplanation.display_text}}
                <small> {{tempoDimExplanation.help_text}}</small>
            </h5>
                            <select class="btn btn-default dropdown-toggle" ng-model="tempoDim" ng-options="f.name as f.display_text for f in criterias">
                                <option value="">Number of Comment</option>
                            </select>
                        </div> -->
                    </div>
                    <!-- <div ng-show="overview=='map'">
                        <div class="gathermap" data="nomaData"> </div>
                    </div> -->
                    <div ng-show="overview=='gatherplot'">
                        <!-- <div gatherplot data="nomaData" config="nomaConfig" border="nomaBorder" round="nomaRound" shaperenderingmode="nomaShapeRendering" dimsum="dimsum" on-click="d3OnClick(item)" xdim="{{nomaConfig.xDim}}" ydim="{{nomaConfig.yDim}}" context="context" comment="isComment" criterias="criterias">
                        </div> -->
                        <h5>{{xAxisExplanation.display_text}}
                <small> {{xAxisExplanation.help_text}}</small>
            </h5>
                        <h5>{{yAxisExplanation.display_text}}:
                <small>{{yAxisExplanation.help_text}}</small>
            </h5>
                        <br>
                        <div class="chart-simple-interface">
                            <h5>Show me

                    <select class="btn btn-default dropdown-toggle" ng-model="nomaConfig.xDim" ng-options="f.name for f in criterias" ngChange="getScores(f)">

                        <option value="">-- undefined --</option>

                    </select>&nbsp;vs&nbsp;.

                    <select class="btn btn-default dropdown-toggle" ng-model="nomaConfig.yDim" ng-options="f.name for f in criterias">

                        <option value="">-- undefined --</option>

                    </select>

                    </br>
                    </br>
            </div>
        </div>


    <br/>

</div>


<div class="col-sm-6">

            <br>

            <div>
                Presets for Ranking:                <a class="btn btn-link "  href="" ng-click="isSettingCollapsed=!isSettingCollapsed">
                    Edit <i class="fa fa-cog"></i>
                </a>
                <a class="btn btn-link " ng-model="currentCategory" ng-click="saveCurrentSetting()"> Add <i class="fa fa-plus"></i></a>
<br>
                <select class="btn btn-default dropdown-toggle" ng-model="currentCategory" ng-options="f.name for f in presetCategory">
                </select>

            </div>
                            




            <br>

This bar shows the weights for this ranking.
            <br>

            <div class="criteriaBarContainer">

 <!--                <div class="criteriaBar" stacked-bar help="criterias" data="currentCategory"></div> -->


            </div>

            <script type="text/ng-template" id="settingNameModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">Please enter the name for new setting</h3>
                </div>
                <div class="modal-body">
                    New name:
                    <input type="text" ng-model='settingName' class="form-control" select-on-click placeholder={{settingName}}>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>


            <script type="text/ng-template" id="helpCriteriaModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">Help for Criteria</h3>
                </div>
                <div class="modal-body">

                    <dl>

                        <dt ng-repeat-start="criteria in criterias">
                            <br> {{criteria.name}}

                        </dt>

                        <dd ng-repeat-end>

                            {{criteria.help_text}}
                        </dd>


                    </dl>

                    Additional details on some scores are available here: <br/>
                    <a href="https://github.com/comp-journalism/commentIQ">https://github.com/comp-journalism/commentIQ</a>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>

            <script type="text/ng-template" id="pickReason.html">
                <div class="modal-header">
                    <h3 class="modal-title">Please select all that apply to this comment.</h3>
                </div>
                <div class="modal-body">
                    <form name="myForm">
                        <div ng-repeat="reason in reasons">
                            <input type="checkbox" ng-model="result[reason]"> {{reason}}
                            <br/>
                        </div>

                        <div>
                            <input type="checkbox" ng-model="result.isThereAnyOtherReason"> <input type="text" ng-model="result.otherReason" select-on-click placeholder="Type other reason...">
                            <br/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>

            <div uib-collapse="isSettingCollapsed">
                <div class="well">
                    <a href="" class="btn btn-link btn-default pull-right" ng-click="isSettingCollapsed=true"><i class="fa fa-times"></i> Close</a>

                    <a href="" class="btn btn-link btn-default pull-right" ng-click="saveCurrentSetting()"><i class="fa fa-floppy-o"></i> Save current setting</a>

                    <br>

                    <div ng-repeat="scoreModel in scoreModels">
                        <h4> Criteria based on {{scoreModel}} score</h4>
                        <ul>
                            <li ng-repeat="criteria in criterias | filter:{model:scoreModel}">
                                <span popover="{{criteria.help_text}}" popover-trigger="mouseenter">{{criteria.display_text}} <a href="" class="btn btn-link btn-default" ng-click="openHelpModalForCriteria()"><i class="fa fa-question-circle"></i> </a> </span> : {{currentCategory.weights[criteria.name]}}

                                <input type="range" ng-model='currentCategory.weights[criteria.name]' min="0" max="100" required>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>

            <input type="text" ng-model='searchText' class="form-control" placeholder="Search for...">




            <uib-tabset>
                <uib-tab ng-repeat='tab in tabArray' active=tab.active>

                    <uib-tab-heading>
                        <span>{{tab.status}}</span> ({{filteredComment.length}})
                    </uib-tab-heading>
                    <div class="commentList">
                        <dl>
                            <dt dir-paginate-start='comment in filteredComment=(nomaData |filter: {selected:"true"} | filter:{status: tab.status } |orderBy:"score":true | filter: searchText) | itemsPerPage: 5' pagination-id="tab.status">
                               {{comment.commentTitle}} <small>{{comment.userDisplayName}}   </small> <div class="commentHeader"> {{comment.userLocation}} , {{comment.ApproveDateConverted | date:'medium'}} </div>
                            </dt>



                            <dd>


                                <div ng-bind-html="comment.commentBody"></div>
                            </dd>

                            <a href="" class="btn btn-link btn-default" ng-click="comment.status='Accepted'" ng-hide="status=='Accepted'">Accept</a>
                            <a href="" class="btn btn-link btn-default" ng-click="comment.status='Rejected'" ng-hide="status=='Rejected'">Reject</a>
                            <a href="" class="btn btn-link btn-default" ng-click="pickReason(comment)" ng-hide="status=='Picked'">Pick</a>
                            <hr>
                            <br dir-paginate-end>
                        </dl>
                    </div>
                    <dir-pagination-controls pagination-id='tab.status'></dir-pagination-controls>
                </uib-tab>


                <uib-tab heading='All'>
                    <div class="commentList">
                        <dl>
                            <dt dir-paginate-start='comment in nomaData |orderBy:"score":true| itemsPerPage: 5' pagination-id="All">
                                {{comment.DisplayName}}
                            </dt>



                            <dd>

                                {{comment.display_name}}
                                <br>
                                <div ng-bind-html="comment.commentBody"></div>
                                <br> score = {{comment.score}}
                                <br> brush = {{comment.selected}}
                                <br> &nbsp;
                            </dd>

                            <a href="" class="btn btn-link btn-default" ng-click="comment.status='Accepted'" ng-hide="status=='Accepted'">Accept</a>
                            <a href="" class="btn btn-link btn-default" ng-click="comment.status='Rejected'" ng-hide="status=='Rejected'">Reject</a>
                            <a href="" class="btn btn-link btn-default" ng-click="comment.status='Picked'" ng-hide="status=='Picked'">Pick</a>


                            <hr>
                            <br dir-paginate-end>
                        </dl>
                    </div>
                    <dir-pagination-controls pagination-id='All'></dir-pagination-controls>
                </uib-tab>
            </uib-tabset>


        </div>
    </div>
</div>
