<div class="container">
    <h1>List of Concepts</h1>
    <h1><small>You can add, update or delete custom concepts for text analysis</small></h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="search">Search:</label>
                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                        </div>
                        <div class="col-xs-4">
                            <label for="search">items per page:</label>
                            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                        </div>
                        <div class="col-xs-4">
                            <!-- <h3>Concepts: {{ currentPage }}</h3> -->
                            <a class="btn btn-default pull-right" ng-href="/#/concepts/new"><i class="fa fa-plus"></i>
                                Create New Concept
                            </a>
                        </div>
                    </div>
                    <br>
                    <!--                     <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model=""> Show only my concepts 
                        </label>
                    </div> -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!--                             <ul>
                                <li dir-paginate="concept in concepts | filter:q | itemsPerPage: pageSize" current-page="currentPage" pagination-id="drinksPagination">{{ concept }}</li>

                            </ul> -->
                            <dl>
                                <dt dir-paginate-start="concept in concepts | filter:q | itemsPerPage: pageSize" current-page="currentPage" pagination-id="drinksPagination">
                                    <h3> <a href="#/concepts/{{concept.id}}"> {{concept.name}} </a><small class="commentHeader">                                     <a href="#/concepts/{{concept.id}}" class="btn btn-link btn-default" ng-show="isOwner(concept)">Edit</a>
                                    <a href="" class="btn btn-link btn-default" ng-click="clone(concept)">Copy</a>
                                    <a href="" class="btn btn-link btn-default" ng-click="delete(concept)" ng-show="isOwner(concept)">Delete</a> </small> </h3>
                                </dt>
                                {{concept}}
                                <dd dir-paginate-end>
                                    <dl class="dl-horizontal">
                                        <dt>Author</dt>
                                        <dd>{{concept.creator_name}}</dd>
                                        <dt>Type</dt>
                                        <dd>{{concept.concept_type}}</dd>
                                        <dt>Positive Terms</dt>
                                        <dd> <span ng-repeat="term in concept.input_terms.positive ">{{term.text}} </span></dd>
                                        <div ng-if="concept.concept_type == 'bipolar'">
                                            <dt>Negative Terms</dt>
                                            <dd><span ng-repeat="term in concept.input_terms.negative ">{{term.text}} </span></dd>
                                        </div>
                                    </dl>
                                    <div>
                                        <hr>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="text-center">
                        <!-- <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html" pagination-id="drinksPagination"></dir-pagination-controls> -->
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="drinksPagination"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="deleteModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Are you sure to delete this concept? </h4>
    </div>
    <div class="modal-body">
        <h3> {{conceptName}} </h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="cloneModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Please enter the name for new concept</h3>
    </div>
    <div class="modal-body">
        New name:
        <input type="text" ng-model='conceptName' class="form-control" select-on-click placeholder={{conceptName}}>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
