
<div role="main">
    <header class="bs-header text-center" id="overview">
        <div class="container">
            <h1>
                ConceptVector
            </h1>

            <p>Sculpt Human Understandable Vectoral Representation of Words  

            <p>
                <a class="btn btn-outline-inverse btn-lg" href="#/about"><i class="icon-github"></i>About</a>

                <a class="btn btn-outline-inverse btn-lg" href="#/articles"><i class="icon-github"></i>Demo</a>
                <!-- <button type="button" class="btn btn-outline-inverse btn-lg" ng-click="showDownloadModal()">
                    Demo
                </button> -->
                <a class="btn btn-outline-inverse btn-lg" href="#/concepts"><i class="glyphicon glyphicon-wrench"></i> Sculpt your own concepts</a>
            </p>

        </div>
    </header>
</div>

<div class="container">
        <div class="row">
            <div class="col-md-12">
<section id="getting_started">
                    <div class="page-header">
                        <h1>Overview</h1>
                    </div>
                    <h3>What is ConceptVector?</h3>
                    <p>
                        The goal of <strong>ConceptVector</strong> is to build human understandable vector representation of words.  
                    </p>
                    <img src="images/conceptvector.png" alt="I'm Yeoman" width="600"><br>
                    
                </section>



